deepeval==3.7.*
evidently==0.7.*
huggingface_hub==0.36.*
jupyter==1.1.*
jupyterlab==4.5.*
jupyter-ai==2.31.*
langchain-anthropic
langchain-google-genai
langchain-huggingface
langchain-mistralai
langchain-ollama
langchain-openai
llama-index==0.12.*
llama-index-llms-ollama
lm-eval==0.4.*
matplotlib==3.10.*
ollama==0.6.*
openai==1.109.*
pandas==2.3.*
pydantic
